git+https://github.com/wtsi-hgi/test-with-baton.git@8546f9030c7c5c467f195c76c94a17833d87d51f#egg=testwithbaton
git+https://github.com/wtsi-hgi/test-with-irods.git@38ae02ca7f2d1788814f931fd3595e84552ad1c9#egg=testwithirods
docker-py==1.10.6
inflection==0.3.1
nose==1.3.7
nose-exclude==0.5.0